<%- include('../partials/header') %>

<h2>ยินดีต้อนรับสู่สารสนเทศอาหารไทย</h2>
<p class="p1">"อาหารไทยแท้ รสชาติอร่อย"</p>
<img src="/images/image.jpg" alt="">
<!-- เพิ่มภาพหน้าหลัก -->
<!-- <div class="home-image">
    <img src="/images/thai-food-banner.jpg" alt="อาหารไทย" class="center-image">
</div>

<div class="welcome-content">
    <p>สำรวจรสชาติแท้ของอาหารไทยกับเรา ด้วยเมนูอาหารที่หลากหลาย</p>
    <a href="/menu" class="btn-menu">ดูเมนูอาหาร</a>
</div> -->

<%- include('../partials/footer') %>